*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background: #070024;
    /* background: linear-gradient(75deg,#100020,#00111b); */
    /* background: linear-gradient(to left,#150029,#001824); */
    color:rgb(255, 255, 255);
    position: relative;
}

.containers{
    width: 65%;
    margin: 16.5%;
    margin-top: 3%;
    padding:1rem;
    border: 2px solid #fff;
    border-radius: 0.2rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    height: 87vh;

}

.containers nav{
    width: 90%;
    margin:2rem;
    margin-top:1rem;
    height: 3rem;
}

nav .logo{
    width: 30%;
    padding:8px;
    margin-right: 2rem;
    float: left;
}

nav .logo a{
    text-decoration: none;
    font-size: 24px;
    color:rgb(15, 185, 190);
    text-shadow: #69430a;
    font-weight: 600;
}

nav .logo:hover a{
    color:rgb(3, 117, 121);
}

nav ul{
    width: 70%;
    display: flex;
    justify-content: end;
    float: right;
    align-items: end;
    /* justify-content: end; */
    padding: 7px 8px;
    margin-top:-2.3rem;
}
nav ul li{
    position: relative;
    display: inline;
    list-style: none;
    text-decoration: none;
    /* width: 7rem; */
    margin-right: 1rem;
    background: #09012e;
    padding: 8px 6px;
    border-radius: 2px;
}

nav ul li a::after{
    content: '';
    position: absolute;
    background: #cbddd5;
    left:0;
    bottom:0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transition: 0.4s;

}

nav ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;

}


nav ul li a{
    text-decoration: none;
    color:#cbddd5;
    /* color:rgb(155, 152, 4); */
    font-weight: 600;
}


nav ul li:hover{
    color:rgb(121, 119, 1);
}

.main-body{
    width: 100% inherit !important;
    margin: 0.1rem 1.5rem;
}
/* =====table design==== */

.main-body .task-table{
    background: #cbddd5;
    height: 3rem;
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 8px;
    
}
.main-body .task-table .task-title{
    width: 58% !important;
    display: block;
    float: left;
    margin-top: 3px;
}

.task-title a{
    color: rgb(111 7 153);
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
}

.main-body .task-table .actions-btn{
    width: 40% !important;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    float: right;
    margin-top: 3px;
}

.actions-btn a{
    text-decoration: none;
}

.btn{
    padding:7px 10px;
    border:1px solid rgb(117, 5, 27);
    border-radius: 5px;
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    color:#fff;
    margin-top: -6px;
}

/* profile pic starts */

.main-body .profile {
    position: relative;
    width: 50%; 
    display: flex;
    float: left;
   }
  
  .image {
    opacity: 1;
    display: flex;
    width:40%;
    height: 40%;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .profile:hover .image {
    opacity: 0.5;
  }
  
  .profile:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #860530;
    color: white;
    font-size: 10px;
    padding: 16px 32px;
  }

  
  .main-body .details {
    /* display: flex; */
    float: right; 
    margin-right: 20%;
  } 
  /* profile pic ends */

.delete{
    background: linear-gradient(5deg,#df0707,rgb(160, 110, 36));
}

.edit-task{
    background: linear-gradient(16deg,#043252,rgb(19, 184, 196));
}

.task-view{
    background: linear-gradient(56deg,#7457bb,rgb(15, 38, 116));
    color:#fff;
}